name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: yousif447
          outputs: dist/snake.svg

      - name: Upload Snake SVG
        uses: actions/upload-artifact@v3
        with:
          name: snake-svg
          path: dist/snake.svg
